@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');

body{
    margin: 0em;
    overflow-y: scroll;
    font-family: 'Epilogue', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    word-wrap: break-word;
    text-align: left;
    padding: 0em;
    width: 100%;
    background-color: white; 
    color: #000;
   
}

:root{
   --green:#88e7ce;
   --darkblue:#2b546a;
   --darkmodeblue:#1d3d4f;
   --grey:#292929;
   --darkgrey:#131417;
   --offblack: #121212;
   --purple:#9649f3;

}

nav a{
    text-decoration: none;
    color: white;
    padding: 0.8em;
    border-radius: 2em;
    
}
nav a:active{
    text-decoration: none;
    color: #000;
    
}
nav a:hover{
    background-color: rgba(255, 255, 255);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.315);
    color: black;
    
    transition: 0.5s;
}



li{
    list-style: none;
}
ul{
    margin:0em;
    padding: 0em;
}
h1{
    font-size: 7em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    color: var(--darkblue);
    border-bottom: 5px solid var(--darkblue);
    width: fit-content;
}
header h1{
    color: #000;
    border: none;
    width: auto;
}
div li{
    font-size: 1.5em;
}



#navbar{
background-color:var(--darkblue);
width: 100%;
height: auto;
margin: 0em 0em;
position: fixed;
display: grid;
grid-template-columns: 8fr 1fr;
box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);

}

nav li{
    margin: 0em;
    float: left;
    list-style: none;
    padding: 2% 0em 2% 2.5%;
    text-align: center;
}


div{
    padding: 1em 4em 3em 4em;
 }

#hamburger,#close-icon{
    display: none;
}
#hamburger-button{
    display: none;
}

.drop-down{
    font-size:16px !important;
 }
 
  .dropbtn{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: inherit;
    background: none;
    border: none;
    color: white;
    padding-top: 1em;
 
  }

 .dropdown-content{
    display: none;
    min-width: fit-content;
    padding: 0em;
    
    
 }
 .dropdown-content a {
    float: none;
    color: black;
    background-color:white; 
    padding: 0.8em;
    text-decoration: none;
    display: block;
    text-align: left;
    margin-bottom: 2%;
    
    
        
    }
    
  
  /* Show the right-nav-elements menu on hover */
  .contact-me-span:hover .dropdown-content {
    display: block;
    height:2px;
  }
  .right-nav-elements li{
    display: flex;
  }


    /* dark-mode */
    .dark-mode{
        display: block;
        color: white;
        padding: 10%;
        height: 1em;
        background: none;
        border-radius: 10em;
        
        
     }
     .dark-mode:hover, .dark-mode:active{
        background-color: rgba(255, 255, 255, 0.315);
        transition: all 0.5s ease-in-out;
     }
     /*   /* light-mode */
    .light-mode{
        display: none;
        color: white;
        padding: 10%;
        height: 1em;
        background: none;
        border-radius: 10em;   
     }

     .light-mode:hover, .light-mode:active{
        background-color: rgba(255, 255, 255, 0.315);
        transition: all 0.5s ease-in-out;
     } 
  /* header */
  h1{
    margin: 0em;
  }

  .header-content{
    text-align: center;
    padding-top: 17%;
    padding-bottom: 20%;
    padding-left: 2em;
    padding-right: 2em;

  }
  header{
    animation: gradient-background 10s infinite;
  }

  @keyframes gradient-background{
    0%{background-color: white;}
    5%{background-color: #f9fbfe;}
    15%{background-color: aliceblue}
    20%{background-color: rgb(196, 238, 255);}
    25%{background-color: rgb(168, 207, 245);}
    30%{background-color: var(--blue);}
    35%{background-color: rgb(129, 227, 254);}
    40%{background-color: rgb(129, 254, 219);}
    45%{background-color: rgb(129, 254, 162);}
    50%{background-color: rgb(146, 254, 129);}
    55%{background-color: rgb(229, 254, 129);}
    60%{background-color: rgb(254, 233, 129);}
    65%{background-color: rgb(254, 204, 129);}
    70%{background-color: rgb(254, 167, 129);}
    75%{background-color: rgb(254, 129, 129);}
    80%{background-color: rgb(249, 160, 172);}
    85%{background-color: rgb(255, 190, 231)}
    90%{background-color: rgb(252, 223, 241)}
    95%{background-color: rgb(253, 235, 246)}
    100%{background-color: rgb(253, 245, 250)}

    
  } 
.code-icon{
    font-size: 100px !important;
}



/* about me */

.about-me{
    padding-top: 6em;
}

 div div{
    padding: 0px;
    padding-top: 1em;
} 


.about-me-content{
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: 1.3em;
    column-gap: 2em;
    align-items: center;
}
.about-me-content img{
    width: 100%;
    height: 100%;
    border-radius: 30em;

}


/* Education */
.education{
    background-color: #f9fbfe;
    /* color:#2b546a; */
}
li li{
    font-size: 1.2em;
}

 div li{
    padding-top: 1em;
   }

.courses-iam-on{
    padding-right: 0em;
    background-color:  rgb(243, 242, 246);
   }

.education-boxes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4em; 
}
#BSC-DS, #CS-Hons{
    background-color: white;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.279);
    text-align: left;
    border-radius: 1em;
    padding: 2em 2em;  
    color:black;
}
#BSC-DS:hover, #CS-Hons:hover{
    box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.279);
    transition: 0.5s;
}

.list-of-courses li{
    padding: 0em;
    margin: 0em;
    list-style:circle;
    list-style-position:inside;
    font-size: 0.8em;
}



/* work-experience */
#title{
    font-size: 1.5em;
}

.subname{
    font-size: 1em;
    padding-top: 0.3em;
    color: rgb(58, 54, 54);  
}
.sub-subname{
    font-size: 0.9em;
    padding-top: 0.3em;
    color: rgb(58, 54, 54);  
}

.work-experience-content{
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 2em;
    align-items: center ;
    row-gap: 1em;
}
.work-experience-content p{
    margin: 0em;
    padding: 0em;
}

.work-experience-content img{
    height: 80%;
    width: auto;
}

/* Skills */
.skills button{
    border: 0px;
    border-radius: 1.6em;
    font-size: 1em;
    padding: 1em;
    margin: 2em 3em 1em 3em;
    width: 15em;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.251);
    background-color:var(--green);
}


/* Projects */
.project-contents iframe{
    margin-top: 3em;
    width: 100%;
    height:80vh;
}



/* bacause some nav bar elements ar two worded and padding becomes weird below this */
@media screen and (max-width: 910px) {
        nav li{
            margin: 0em;
            float: left;
            list-style: none;
            width:auto;
            padding: 2% 0em 2% 2.5%;
            text-align: center;
            /* the only change is font size */
            font-size: 0.90em;  
        
        }
        nav{
            width: 100%;
        }
    
      
        h1{
            font-size: 5em;
            margin-top: 0.2em;
            margin-bottom: 0.2em;
        }
        div li{
            font-size: 1.5em;
        }
    }
      img{
        height: 100%;
        width: 100%;
        align-self: center;
        padding-top: 1em;

    }
    


  /* for phone screens */
@media screen and (max-width: 635px) {
    body{
        width:100%;
        overflow-x: hidden;
    }
    
    #navbar{
        display: none;
        grid-template-columns: 2fr 1fr;
        height: 21em;
        

    }

    nav ul{
        padding: 0em 2em;
    }
    nav li {
      float: none;
      display: block;
      width: 100%;
      padding-top: 2em;
      text-align: left; /* If you want the text to be left-aligned on small screens */
    }
    h1{
        font-size: 3em;
        margin-top: 0.1em;
        margin-bottom: 0.1em;
    }

    div li{
        font-size: 1em;
    
    }

    .right-nav-elements li{
        float: right;
    }
    .dropdown-content{
        display: none;
        background:none;
        min-width: fit-content;
        box-shadow: 0px 0px 0px 0px;
        z-index: 1;
        padding: 0em;
     }
     
  .dropbtn{
    padding-top: 0em;
  }
    /* darkmode */
    .right-nav-elements li{
        flex-direction: column;
    }

 
     /* Hamburger */
     #hamburger{
        display: block;
        font-size: 2em;
        color: #000;
        padding: 0.5em;
        width: max-content;
        border-radius: 1em;
    }

     #hamburger-button{
        display: block;
        position:fixed;
        background: none;
        border: none;
        padding: 0em;
        margin: 0em;
        text-align: left;
     }
   


     #hamburger:hover, #hamburger:active{
        background-color: rgba(70, 58, 58, 0.164);
        transition: all 0.5s ease-in-out;
     }
     #close-icon:active,#close-icon:hover{
        background-color: rgba(255, 255, 255, 0.315);
        transition: all 0.5s ease-in-out;
     }
     #close-icon{
        display: block;
        font-size: 2em;
        padding: 0.5em;
        color: white;
        width: max-content;
        border-radius: 1em;
     }
     



   
     /* about me */
    .about-me-content{
        display: block;
        font-size: 1em;
    }
     /* education */
    .education-boxes{
        display:block;
margin:1em;
padding 1%;
    }

    #BSC-DS, #CS-Hons{
    margin: 0.8em;
    }




    .subname{
        font-size: 0.9em;
        padding-top: 0.3em;
        color: rgb(58, 54, 54);  
    }
    .sub-subname{
        font-size: 0.7em;
        padding-top: 0.3em;
        color: rgb(58, 54, 54);  
    }

    .work-experience-content{
        display: block;
    }
    .work-experience-content img{
        height: 100%;
        width: 100%;
        align-self: center;
        padding-top: 1em;

    }
    #title{
        padding-top: 1em;
    }

    .skills button{
        margin: 1em 0em 1em 1em;
        width: 10em;
        font-size: 0.9em;

    }

 
    .project-contents iframe{
        margin-top: 3em;
        width: 100%;
    }
    
    footer {
display:flex;
padding: 5%;
height:8vh;
background-color:var(--darkblue);
color:white;
}

}
   
