
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    margin: 0em;
    overflow-y: scroll;
    font-family: 'Lato', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    word-wrap: break-word;
    text-align: left;
    padding: 0em;
    width: 100%;
    background-color: white; 
    color: #000;
   
}

:root{
   --blue:#3fb1ef;
   --darkmodeblue:#1d3d4f;
   --grey:#292929;
   --darkgrey:#131417;
   --offblack: #121212;
   --purple:rgb(201,148,255);
   --cream: #FFFBEB;
   --orange: #FF7F4A;

}

nav a{
    text-decoration: none;
    color: white;
    padding: 0.8em;
}
nav a:active{
    text-decoration: none;
    color: #000;
    
}
nav a:hover{
    border-bottom: 3px solid white;
    transition: all 0.3s ease-in-out;
}



li{
    list-style: none;
}
ul{
    margin:0em;
    padding: 0em;
}
h1{
    font-size: 4em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    color: var(--blue);
    border-bottom: 5px solid var(--blue);
    width: fit-content;
}

header{
    height:100vh;
    
}
header h1{
    color: #000;
    border: none;
    width: auto;
}
div li{
    font-size: 1.5em;
}



#navbar{
background-color: rgb(201,148,255) !important;
width: 100%;
height: auto;
margin: 0em 0em;
/* position: fixed; */
display: grid;
grid-template-columns: 8fr 1fr;
background:none;
box-shadow: 0 1px 7px rgba(0, 0, 0, 0.379); 


}

nav li{
    margin: 0em;
    float: left;
    list-style: none;
    padding: 2% 0em 2% 2.5%;
    text-align: center;
}


div{
    padding: 1em 4em 3em 4em;
 }

#hamburger,#close-icon{
    display: none;
}
#hamburger-button{
    display: none;
}

.right-nav-elements{
    display: block;
}
.right-nav-elements li{
    display: grid;
    grid-auto-flow: column;
    padding:6% 0em 0% 3.5%;
    visibility: visible ;
    margin-right: 2em;
}
.Resume-button{
    background: none;
    color: white;
    border-radius: 2em;
    padding: 3% 2em 3% 2em;
    font-family: 'Lato', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
    border: none;}

    /* dark-mode */
    .dark-mode{
        display: block;
        color: white;
        padding: 6%;
        padding-left: 1em;
        height: 1em;
        background: none;
        border-radius: 10em;
        background-color: rgba(255, 255, 255, 0.315);
        transition: all 0.5s ease-in-out;
        
        
     }

     /*   /* light-mode */
    .light-mode{
        display: none;
        color: white;
        padding: 6%;
        padding-right: 1em;
        height: 1em;
        background: none;
        border-radius: 10em;   
        background-color: rgba(255, 255, 255, 0.315);
        transition: all 1s ease-in-out;
     }


  /* header */
  h1{
    margin: 0em;
  }

  .header-content{
    text-align: center;
    padding-top: 1%;
    padding-bottom: 20%;
    padding-left: 2em;
    padding-right: 2em;

  }
  
  .code-icon{
    font-size: 50px !important;
    color: black;
}

header img{
    width: 20%;
    height: auto;
    border-radius: 4em;
    position: absolute; 
     top: 90%; 
     left: 50%; 
    transform: translate(-50%, -50%);

}


.lets-talk-btn{
    margin-bottom: 1em; 
    padding-left: 2%;
    padding-right: 2%;
    cursor: pointer;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 1em;
    color: white;
    border: none;
    font-family: Montserrat,sans-serif;
    background: var(--purple);
    transition:  0.5s;
    transform: translate(0%,0%);
    transition: transform 0.5s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
 
    
}
.lets-talk-btn.active {
    position: fixed;
    bottom: 10%;
    right: 2%;
    transform: translate(50%, 50%);
    position: fixed;
    margin-bottom: 1em;
    cursor: pointer;
    border-radius: 1em;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.852); 
    background-color: var(--purple);


  
  }
/* .lets-talk-btn:hover{
    margin-bottom: 1em; 
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 3em;
    /* color:rgb(120,67,233); */
    /* color: #5BE9B9;  */
    /* color:black;
    background: rgba(255, 255, 255, 0.404);
    border: 1px rgba(255, 255, 255, 0.404);

} */ 


/* about me */

.about-me{
    padding-top: 6em;
}

 div div{
    padding: 0px;
    padding-top: 1em;
} 


.about-me-content{
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: 1.3em;
    column-gap: 2em;
    align-items: center;
}



/* Education */
.education{
    background-color: #f9fbfe;
    padding-top: 7%;
    padding-bottom: 7%;
    /* color:#2b546a; */
}
li li{
    font-size: 1.2em;
}

 div li{
    padding-top: 1em;
   }


.work-experience{
    margin-top: 5%;
    margin-bottom: 5%;
}

.education-boxes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4em; 
}
#BSC-DS, #CS-Hons{
    background-color: white;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.279);
    text-align: left;
    border-radius: 1em;
    padding: 2em 2em;  
    color:black;
}
#BSC-DS:hover, #CS-Hons:hover{
    box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.279);
    transition: 0.5s;
}

.list-of-courses li{
    padding: 0em;
    margin: 0em;
    list-style:circle;
    list-style-position:inside;
    font-size: 0.8em;
}



/* work-experience */
#title{
    font-size: 1.5em;
}

.subname{
    font-size: 1em;
    padding-top: 0.3em;
    color: rgb(58, 54, 54);  
}
.sub-subname{
    font-size: 0.9em;
    padding-top: 0.3em;
    color: rgb(58, 54, 54);  
}

.work-experience-content{
    display: flex;
    flex-direction: column;
    row-gap: 3em;
}
.work-experience-content p{
    margin: 0em;
    padding: 0em;
}

.work-experience-content img{
    height:80%;
}

/* Skills */
.skills{
    background-color: rgb(201, 233, 255);
    padding-top: 7%;
    padding-bottom: 7%;
    
}

.skills-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.each-skill-heading{
    color: black;
}
.view-more{
    border: 1.5px solid var(--blue);
    padding: 1%;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, white 50%, var(--blue) 50%);
    transition: background-position 0.5s;

}
.arrow{
    font-size: 1em;
}
.view-more:hover{
    border: 1.5px solid var(--blue);
    padding: 1%;
    background-color: var(--blue);
    color: white;
    background-position: -100% 100%;
}
.arrow{
    font-size: 1em;
}


/* Projects */
.project-contents iframe{
    margin-top: 3em;
    width: 100%;
    height:80vh;
}

    
footer {
    display:flex;
    padding:3%;
    height:4%;
    background-color:var(--blue);
    }
footer li{
    color: white !important;
}
footer a{
    color: white;
    font-size: small;
}

/* bacause some nav bar elements ar two worded and padding becomes weird below this */
@media screen and (max-width: 910px) {
        nav li{
            margin: 0em;
            float: left;
            list-style: none;
            width:auto;
            padding: 2% 0em 2% 2.5%;
            text-align: center;
            /* the only change is font size */
            font-size: 0.90em;  
        }

        nav{
            width: 100%;
        }
    
      
        h1{
            font-size: 3em;
            margin-top: 0.2em;
            margin-bottom: 0.2em;
        }
        div li{
            font-size: 1.5em;
        }
    }
      img{
        height: 100%;
        width: 100%;
        align-self: center;
        padding-top: 1em;

    }
/*     
    .lets-talk-btn.active {
        transform: translate(617%,471%);
        position: fixed;
        background:none;
        cursor: pointer;
        border-radius: 10em;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
      }
   */


  /* for phone screens */
@media screen and (max-width: 635px) {
    body{
        width:100%;
        overflow-x: hidden;
    }
    
    #navbar{
        display: flex;
        height: 100vh; 
        width: 0;
        position: fixed;
        background-color: rgba(255, 255, 255, 0.973) !important;
        transition: all 0.5s ease-in-out;
        z-index: 2;
    }
    .left-nav-elements{
        visibility: hidden;
    }
  

    nav a{
        color: var(--purple);
    }

    nav ul{
        padding-top: 50%;
        padding-left: 38%;  
    }
    nav li {
      float: none;
      display: block;
      width: 100%;
      padding-top: 2em;
      text-align: left; 
    }

     .dark-mode{
        display: block;
        color: black;
        padding: 6%;
        padding-left: 1em;
        height: 1em;
        background: none;
        border-radius: 10em;
        background-color: rgba(0, 0, 0, 0.08);
        transition: all 0.5s ease-in-out;
        
        
     }

     /*   /* light-mode */
    .light-mode{
        display: none;
        color: white;
        padding: 6%;
        padding-right: 1em;
        height: 1em;
        background: none;
        border-radius: 10em;   
        background-color: rgba(255, 255, 255, 0.189);
        transition: all 1s ease-in-out;
     }
   
    h1{
        font-size: 3em;
        margin-top: 0.1em;
        margin-bottom: 0.1em;
    }

    div li{
        font-size: 1em;
    
    }

    .right-nav-elements li{
        display: block;
    }

     
  .dropbtn{
    padding-top: 0em;
  }
  .lets-talk-btn{
    padding: 3%;
  }


    .right-nav-elements li{
        flex-direction: column;
        display: grid;
        grid-auto-flow: column;
        padding:10% 0em 0% 40%;
        right:-3vh;
        position: relative;
    }
    .Resume-button{
        color: var(--purple);
    }
    

     /* Hamburger */
     #hamburger{
        display: block;
        font-size: 2em;
        color: #000;
        padding: 0.5em;
        width: max-content;
        border-radius: 1em;
    }

     #hamburger-button{
        display: block;
        position:fixed;
        background: none;
        border: none;
        padding: 0em;
        margin: 0em;
        text-align: left;
     }
   


     #hamburger:hover, #hamburger:active{
        background-color: rgba(70, 58, 58, 0.164);
        transition: all 0.5s ease-in-out;
     }
     #close-icon:active,#close-icon:hover{
        background-color: rgba(255, 255, 255, 0.315);
        transition: all 0.1s ease-in-out;
     }
     #close-icon{
        display: block;
        font-size: 2em;
        padding: 0.5em;
        color: var(--purple);
        width: max-content;
        border-radius: 1em;
     }
    
     header img{
        width:65%;
         top: 70%; 
         left: 50%; 
         
    }
     .lets-talk-btn.active {
        bottom: 10%;
        right: 4%;
      transform: translate(50%, 50%);
        position: fixed;
        background:none;
        cursor: pointer;
        border-radius: 10em;
      
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.251); 
         
      }
  
      .header-content{
        padding-top: 20%;
        padding-bottom: 30%;
      }
   
     /* about me */
    .about-me-content{
        display: block;
        font-size: 1em;
    }
    .about-me-content img{
        width: 100%;
        height: 100%;
        border-radius: 30em;
    }
     /* education */
    .education-boxes{
        display:block;
        padding: 1%;
    }

    #BSC-DS, #CS-Hons{
    margin-top: 0.8em;
    margin-bottom: 0.8em;   
    }

    .subname{
        font-size: 0.9em;
        padding-top: 0.3em;
        color: rgb(58, 54, 54);  
    }
    .sub-subname{
        font-size: 0.7em;
        padding-top: 0.3em;
        color: rgb(58, 54, 54);  
    }

    .work-experience-content{
        display: block;
    }
    .work-experience-content img{
        height: 100%;
        width: 100%;
        align-self: center;
        padding-top: 1em;

    }
    #title{
        padding-top: 1em;
    }

    .skills-grid{
        display:block;

    }
   

 
    .project-contents iframe{
        margin-top: 3em;
        width: 100%;
    }


}
   
